body{
  font-size: 'Roboto', Helvetica, Verdana;
}

h1, h2, h3 {
  color: #0CD2A4;
}

#seccion_inicio{
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

#cv_foto{
  border-radius: 50%;
}

#seccion_inicio h1{
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: capitalize;
}

#seccion_inicio h2{
  font-weight: bold;
}

#seccion_sobremi{
  margin-top: 50px;
  margin-bottom: 50px;
}


#seccion_hobbies .glyphicon{
  font-size: 70px;
}

#seccion_inicio *{
  color: white;
}

#seccion_hobbies {
  background-color: #0CD2A4;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

#seccion_hobbies h3{
  text-decoration: underline;
  color: white;
}

#seccion_habilidades {
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  color: white;
  padding-top: 50px;
}

#seccion_skills{
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  padding: 15px;
}

#seccion_skills h3{
  margin-top: 0;
}

#SK{
  background: white;
  padding: 15px;
  opacity: .8;
  border-radius: 10px;
}

#AS{
  background: white;
  padding: 15px;
  opacity: .8;
  border-radius: 10px;
}

#OI{
  background: white;
  padding: 15px;
  opacity: .8;
  border-radius: 10px;
}

#seccion_social{
    background: #0CD2A4;
    padding: 80px;
}

#seccion_social .btn{
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 0 2px 5px #787878;
  padding: 20px 40px;
}

#seccion_social .btn:hover{
  background: #4b4b4b;
  color: white;
}

#seccion_social ul{
  list-style-type: none;
  margin: 0;
}

#seccion_social ul li{
  display: inline;
}

#seccion_social ul li a{
  color: white;
}

#seccion_social ul li a:hover{
  text-decoration: none;
  color: white;
}

#seccion_social ul li a:hover i{
    background: #2D373D;
}

#seccion_social .fa{
  border: 2px white solid;
  border-radius: 50%;
  font-size: 40px;
  padding: 10px 15px;
  margin-right: 20px;
}

#seccion_social .fa-twitter{
  padding: 10px 13px;
}

#seccion_social .fa-facebook{
  padding: 10px 20px;
}

#seccion_social .fa-google-plus{
  padding: 10px 7px;
}

#seccion_social ul li a#facebook{
  width: 200;
}
#cv_localizacion{
  text-transform: capitalize;
}

#seccion_contacto{
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

#seccion_contacto p{
  font-size: 20px;
}

#seccion_contacto .glyphicon{
  font-size: 40px;
}

#seccion_contacto input,
#seccion_contacto textarea{
  border-bottom: 2px #0CD2A4 solid;
  background-color: rgba(0, 0, 0, 0.5);
}

#seccion_contacto button{
  border-radius: 10px;
  background: aqua;
}

#copyright{
  text-align: center;
  color: white;
  background: url(http://blueprintcreatives.com/wp-content/uploads/2013/03/pattern.png) repeat;
}
